.a4{
    border-radius:100%;
    width: 65.38px;
    height: 55.38px;
    margin-left: 220px;
    margin-top:-5px;
    display: flex;

  }
  .overlay4 {
    width: 460px;
    height: 50px;
    margin-left:5px;
    background-color: #ffffff; 
    border: 1px solid black; 
    color: #514E4E;
    Font-family: Poppins;
Font-style: Light;
Font-size: 14.44px;
Line-height: 20px;
/* Line-height: 150%; */
Letter-spacing: 3%;
border-radius: 7px;
  }
  .card-body{
  
    margin-left: 210px;
    
  }
  .card{
    border: none;
  }
  .form-control{
    border-color: black;
    height: 50px;
  }
  .custom-select{
    height:50px ;
    border-color: black;
  }
  .a5{
    width: 420px;
    height: 500px;
    margin-left: 800px;
    margin-top: -900px;
    margin-bottom: 100px;
  }
