<div style="margin-top:25px;">
    <div>
      <p style="margin-top:10px;margin-left: 210px;color: 
      #131313; Font-family: Chronicle Display;
  Font-style: Semibold;
  Font-size: 45.67px;
  Line-height: 100%;
  Letter-spacing: 3%"> Get in Touch with us </p>
  </div>
  <div class="row">
  <img src="../assets/images/img7.jpeg" class="a4" >
  <div class="overlay4">Hi, I’m Amanda. Need help? Use the form below or email me at hello@diplomatsgroup.com</div>
  </div>
  <div class="row">
  <div class="col-md-7 ">
  <div class="card">
    <div class="card-body">
        
        <form>
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Rachel Joe">
            </div>
            <div class="form-group">
              <label for="phoneInput">Phone</label>
              <div class="input-group">
                  <div class="input-group-prepend">
                      <select class="custom-select">
            <option selected>+1</option>
            <option>+91</option>
            <option>+44</option>
            <!-- Add more country codes as needed -->
          </select>
                  </div>
                  <input type="tel" class="form-control" id="phoneInput" placeholder="98xxxxxxxx">
              </div>
          </div>
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="Rachel@domain.com">
            </div>
            
            <div class="form-group">
                <label for="messageInput">Message</label>
                <textarea class="form-control" id="messageInput" rows="4" placeholder="Type your quuery here..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block" style="background-color: black ; width: 300px;">Send Message</button>
        </form>
        
    </div>
    <div>
      <!-- <img src="../assets/images/img8.png" class="a5" >  -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642.0597276242756!2d77.06437969004686!3d28.349525406014543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d239a31e0ef0d%3A0xe3247794f57598c0!2sDiplomats%20Golf%20Link!5e0!3m2!1sen!2sin!4v1687161061525!5m2!1sen!2sin" class="a5" loading="lazy" ></iframe>
      </div>
    
  
  </div>
  </div>
  </div>
  
  </div>
