<app-navbar></app-navbar>
<div>
    <img src="../assets/images/img2.jpeg" class="img" alt="...">
   <div class="overlay">WE transform ideas into digital outcomes</div>
  </div>

  <div style="display: flex;">
    <p style="color: black; font-size:90px;margin-top: 300px;Font-family: Chronicle Display;
    Font-style: Semibold;
    Font-size: 51.8px;
    Line-height: 100%;
    margin-left: 200px;">
      Our Vision
    </p>

    <div>
      <p style="margin-top:270px; width: 620px;margin-left: 250px;Font-family: Poppins;
      Font-style: Medium;
      Font-size: 21.61px;
      Line-height: 32px;
      align-items: Justified;
      color: #646464;
      margin-bottom: 100px;
      ">
        The Diplomats Group aims to revolutionise the real estate sector by bringing in ultra-luxurious homes well within reach of all our customers. We want to create a benchmark of luxury as well as affordability in all the housing projects that we deliver. We strive to deliver quality, brick by brick, in all our projects. We believe in creating value for our customers, and we constantly endeavour towards 360-degree buyers’ satisfaction.

      </p>
    </div>
  </div>

  <div class="image-container">
    <img src="../assets/images/img3.jpeg" class="img1" alt="Your Image">
    <div class="overlay1"><p style="color: #FFED8B;Font-family: Poppins;
      Font-style: Medium;
      Font-size: 34.16px;
      Line-height: 42px;
      Line-height: 124%;
      Letter-spacing: 3%">New</p>
      </div>
      <div class="overlay2">
      <p style="color: #FFFFFF;Font-family: Chronicle Display;
      Font-style: Semibold;
      Font-size: 72.56px;
      Line-height: 100%;
      /* Align: Center
      Vertical align: Top */
      Letter-spacing: 3%">Launches</p>
      </div>

      <div>
        <p>
          <img src="../assets/images/img4.png" class="img4" alt="Your Image"> 
        </p>
      </div>
  </div>


  <div class="a2">
  <img src="../assets/images/img5.jpeg" style="width: 149%;" alt="Your Image">
  <div>
    <div class="overlay3">
      <div class="cont1">    
        <div class="row">
       <div class="col-6" style="position: relative;display: inline-block;">
         <img src="../assets/images/img6.jpeg" style="width:240px;height: 300px;margin-top:-120px;margin-left: 40px;">
          <div style="  position: absolute;
          bottom: 0px; 
          right: 10px; 
          width: 200px; 
          height: 120px; 
          background-color:white; 
          color:black;
          padding: 10px;">
          <div style="text-align: center;margin-top: 2px;">Jacob Molen</div>
          <div><p  style="color: #939393; Font-family: Poppins;
            Font-style: Regular;
            Font-size: 13px;
            Line-height:20px;">We like the final result this project,
            in extraordinary and also provides
            the best service to the client </p></div>
        <div class="circle-top">
          <img src="../assets/images/Vector.png" style="width: 15px;height:15px; margin-left:11px;margin-top: 9px;" alt="Your Image">
        </div>  
        </div>
        </div>
       <div class="col-6" style="margin-right: -30px;">
         <h1 style="color: white; margin-top: -120px; Font-family: Chronicle Display;
         Font-style: Roman;
         Font-size: 36px;
         Line-height: 100%; color: #FFEB96;">
        What we have done  & 
        what our Customers say 
        </h1>
         <p style="color: #C4C4C4;Font-family: Poppins;
         Font-style: Medium;
         Font-size: 18px;
         Line-height: 27px;
         margin-top: 10px;">The developer found us the best home in our budget, and what’s more, they paid complete attention to all our requirements. Along with quality construction, the developer ensured timely delivery of the property. We thank them for helping us get our dream home within our budget. </p>
       </div>
     </div>
   </div>

    
    </div>    
    
  </div>
  </div>


  
<app-contact></app-contact>


<app-footer></app-footer>
 
