<footer class=" text-black text-lg-start custom-footer ">
    <hr style="height: 2px;color:black;  ">
    <!-- Grid container -->
    <div class="container px-4 ">
        <br>
        <!--Grid row-->
        <div class="row ">
            <!--Grid column-->
            <div class="col-3 " style="text-align: center;align-items: center; ">
                <img src="../../../assets/images/Vector (2).png ">
            </div>
            <!--Grid column-->
            <div class="col-3 " style="text-align: center;align-items: center; ">
                <h5 style="margin-top: 4px;font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 22px; line-height: 107.02%; /* identical to box height, or 24px */ text-align: center; letter-spacing: -0.045em; text-transform:
                    uppercase; color: #000000; ">CONNECT WITH US</h5>

                <p>hello@diplomatsgroup.com</p>
            </div>
            <!--Grid column-->

            <div class="col-3 " style="text-align: center;align-items: center; ">

                <ul class="list-unstyled mb-0 ">
                    <li>
                        <a class="footcont " href="#! ">ABOUT</a>
                    </li>
                    <li>
                        <a class="footcont " href="#! ">SERVICES </a>
                    </li>
                    <li>
                        <a class="footcont " href="#! ">PROJECTS</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-3 " style="text-align: center;align-items: center; ">

                <ul class="list-unstyled mb-0 ">
                    <li>
                        <a class="footcont " href="#! ">STEPS</a>
                    </li>
                    <li>
                        <a class="footcont " href="#! ">TEAMS </a>
                    </li>
                    <li>
                        <a class="footcont " href="#! ">CONTACT</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <hr style="height: 2px; background-color:black; padding: 0px; ">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="p-3 " style="background-color:white; border-top: #000000; ">
        <div class="row ">
            <div class="col ">
                <div class="d-flex justify-content-between ">
                    <div class="content-left ">
                        <!-- Content aligned to the left -->
                        <p style="align-items: center; ">© Copyright Medih 2022 All Right Reserved.</p>
                    </div>
                    <div class="content-center ">
                        <p style="margin-right: 5px; ">
                            <a>Terms of Use</a> |
                            <a>Privacy Policy</a>
                            <a>Privacy Policy</a>
                            <a>Privacy Policy</a></p>

                    </div>
                    <div class="content-right ">
                        <!-- Content aligned to the right -->
                        <p style="margin-right: 5px; ">
                            <a>Terms of Use</a> |
                            <a>Privacy Policy</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
</footer>