<div class="n1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 0%;">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <img src="../assets/images/img1.png" class="img-fluid" alt="..."> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link"  href="/homepage">About</a>
              <a class="nav-link" href="#">Project</a>
              <a class="nav-link" href="/gallery">Gallery</a>
              <a class="nav-link" href="#">Contact</a>
              <a class="nav-link" href="#">Blog</a>
            </div>
          </div>
  
          <button type="button" class="btn1">Request call Back!</button>
        </div>
        
      </nav>
    </div>
     
  
  <router-outlet></router-outlet>
