
.n1{
    /* margin-right:-15px;
    margin-left: -20px; */
  }
  .container-fluid{
    background-color: black;
    height:70px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-bottom: 0%;
  
  }
  .navbar-brand{
    color: white;
  }
  .nav-link active{
    color: white;
    margin-right: 20px;
  }
  
  .nav-link{
    color: white;
    margin-right: 20px;
  }
  .navbar-nav{
    margin-left: 200px;
  }
  .img-fluid{
    width: 100px;
    margin-left: 180px;
  }
  .btn1{
    color: white;
    background-color: black;
    border-radius: 18px;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-color: white;
  }