<app-navbar></app-navbar>

<div>
<div class="image6">
    <img src="../assets/images/img2.jpeg" class="img" alt="...">  

</div>
<div>
    <p>
      <img src="../assets/images/img4.png" class="img4" alt="Your Image"> 
    </p>
  </div>
</div>


<!-- buttons -->

<div class="c1">
<div class="button-container">
    <button class="button1">Overview</button>
    <button class="buttons">Project Details</button>
    <button class="buttons">AMENTIES</button>
    <button class="buttons">Flat Details</button>
    <button class="buttons">Location</button>
    <button class="buttons">Floor PLan</button>
    <button class="buttons">Gallery</button>
  </div>
  
</div>

<div>
    <div style="text-align:center;margin-top:70px;margin-bottom: 20px;">
    <p style="color: #303033; Font-family: Chronicle Display;
    Font-style: Roman;
    Font-size: 65.23px;
    Line-height: 68px;
    Line-height: 104%;
    align-items:Center;
    Vertical-align: Top"> Overview</p>
    </div>

    <div style="margin-left: 280px; margin-right: 280px;">
        <div style="Font-family: Poppins;
        Font-style: Mixed;
        Font-size: 18px;
        Line-height: 27px;
        font-size: 12px;">
        <p>Diplomats Golf Link brings you a lifestyle that you have always dreamed of in Gurgaon. Developed by India’s leading developers- Diplomats Group, the property has everything that a home buyer desires. The affordable housing project is located in Sector 110, Dwarka Expressway, Gurgaon.
 </p>
 <p>           Located right on Dwarka Expressway, the luxury affordable housing project is an IGBC approved gold-rated environment-friendly project. Diplomats Golf Link Gurgaon offers spacious 1 BHK, 2 BHK and 3 BHK apartments which have elegant balconies where you can relax and sit with your family while enjoying a cup of tea while overlooking the beautiful golf view greens. The RERA approved project has a total of 1445 flats with an earthquake resistant structure.
 </p>
 <p>
    Spread across 10.25 acres of prime land, the property has a lush green golf course, outdoor gymnasium, yoga and meditation room, open spaces, jogging track, and more. This is one of the first affordable housing projects with its own executive golf course and reserved parking space.
  </p>
<p> 
    Feel alive in the vibrant community, where you can live worry free. The gated property has 24 hours security and CCTV surveillance. The property has a creche cum anganwadi, a senior citizen sitting area, a kids’ play area, a community centre for social gatherings, a multipurpose hall, a reflexology garden, retail shops, and more, all within the premises.
 
 </p> 
 <p>
    The property is strategically located at 30-mtr. the wide road right next to Dwarka Expressway. Diplomats Golf Link Location gives you access to all prominent locations in the Delhi NCR region. The IGI Airport, NH-8, Dwarka Expressway & Pataudi Road, are connected to the area. Several reputed schools, colleges, leading hospitals, entertainment, and shopping hubs, are also located close by.
 </p>
 <p>
    The property comes used the PM Awas Yojana which entitles home buyers to additional subsidies on the purchase of apartments. Home buyers also get the added benefit of no maintenance charges for 5 years under the PMAY scheme. Diplomats Group has tied up with all leading banks and financial institutions for an easy home loan facility and payment schemes for home buyers.
 </p>
</div>
</div>
</div>


<div>
    <div style="text-align:center;margin-top:70px;">
        <p style="color: #303033; Font-family: Chronicle Display;
        Font-style: Roman;
        Font-size: 55.23px;
        Line-height: 68px;
        Line-height: 104%;
        align-items:Center;
        margin-bottom: 14px;">Project Details</p>
        </div>
    <div style="margin-left: 280px;margin-right: 280px;">  
        <div class="image-container">
            <div class="image-wrapper">
              <img  style="width:200px;height:180px;border-radius:13px;" src="../assets/images/img2.jpeg" alt="Image 1">
              <div class="overlay-text">RRERA APPROVED</div>
            </div>
            <div class="image-wrapper">
                <img  style="width:200px;height:180px;border-radius:13px;" src="../assets/images/img2.jpeg" alt="Image 1">
                <div class="overlay-text">BOOKING OPEN</div>
              </div>
              <div class="image-wrapper">
                <img  style="width:200px;height:180px;border-radius:13px;" src="../assets/images/img2.jpeg" alt="Image 1">
                <div class="overlay-text">90% HOME LOAN</div>
              </div>
              <div class="image-wrapper">
                <img  style="width:200px;height:180px;border-radius:13px;" src="../assets/images/img2.jpeg" alt="Image 1">
                <div class="overlay-text">GET SUBSIDY</div>
              </div>
            </div>
        </div>    
        <div class="bullet">  
        <div>
        <ul class="bullet-list">
            <li style="font-size:12px;"><span style="font-weight: bold;font-size: 14px;">Status</span>: Booking open</li>
            <li style="font-size:12px;"><span style="font-weight: bold;font-size: 14px;">Payment Plan</span>: As per policy</li>
            <li style="font-size:12px;"><span style="font-weight: bold;font-size: 14px;">Type</span>: 1BHK/2BHK/3BHK</li>
            <li style="font-size:12px;"><span style="font-weight: bold;font-size: 14px;">Posession</span>: Within the 4 Year</li>
          </ul>
        </div>
        <div>
            <ul class="bullet-list">
                <li style="font-size: 12px;">90% home loan available from all the major banks</li>
                <li style="font-size: 12px;">Modern architecture Apartments</li>
                <li style="font-size: 12px;">Earthquake resistant building</li>
                <li style="font-size: 12px;">Get subsidy under PM Awas Yojana</li>
              </ul>
            </div>
            <div>
                <ul class="bullet-list">
                    <li style="font-size:12px;"><span style="font-weight: bold;font-size: 14px;">License No.</span> : 100 of 2019 Dated 05.09.2019, File Id- LC 3738
                    </li>
                    <li style="font-size:12px;">  <span style="font-weight: bold;font-size: 14px;">Total Land </span> : 10.25 acres
                    </li>
                    <li style="font-size:12px;"> <span style="font-weight: bold;font-size: 14px;"> Total Flats</span>  : 1445
                    </li>
                    <li style="font-size:12px;"> <span style="font-weight: bold;font-size: 14px;">Rera no.</span> : RC/REP/HARERA/GGM/465/197/2021/33</li>
                    
                  </ul>
                </div>
            </div>            
                
</div>



<div>
    <div style="text-align:center;margin-top:70px;">
        <p style="color: #303033; Font-family: Chronicle Display;
        Font-style: Roman;
        Font-size: 55.23px;
        Line-height: 68px;
        Line-height: 104%;
        align-items:Center;
        margin-bottom: 12px;">Amenities</p>
        </div>

        <div style="justify-content: center; text-align: center; align-items: center;">
            <div class="wrapper">
               <i id="left" class="fa-solid fa-angle-left"></i>
               <div class="carousel">
                 <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
                 <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
                 
               </div>
               <i id="right" class="fa-solid fa-angle-right"></i>
             </div>
           </div>    


</div>



<div style="text-align: center;">
    <p style="color: #303033;Font-family: Chronicle Display;
    Font-style: Roman;
    Font-size: 55.26px;
    Line-height: 75px;
    Line-height: 104%;
    margin-top: 30px;">IGBC Approval Certificate</p>
    <div style="margin-bottom: 30px;">
  </div>
  </div>

<div style="margin-left: 200px;">
    <img style="width:1000px; height:700px" src="../assets/images/img9.png" alt="img" draggable="false">
</div>
 
<!-- flat details -->
<div>
<div style="text-align: center;">
    <p style="color: #303033;Font-family: Chronicle Display;
    Font-style: Roman;
    Font-size: 55.26px;
    Line-height: 75px;
    Line-height: 104%;
    margin-top: 30px;">Flat Details</p>
    <div style="margin-bottom: 30px;">
  </div>
  </div>
  <div style="text-align: center;" >
  <button style=" background-color: black; color: white;padding-left: 40px;padding-right:40px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;">1 BHK</button>
  <button style="background-color:white; color:black;padding-left: 40px;padding-right: 40px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;">2BHK</button>
  <button style="background-color:white; color:black;padding-left: 40px;padding-right: 40px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;">3 BHK</button>
</div>
</div>
 
<div style="margin-left: 200px;margin-right: 200px;margin-top:30px;">
<div class="block-container">
    <div class="block">
      <div class="block-top">
        <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
      </div>
      <div class="block-content">
        <!-- Content for Block 1 -->
      </div>
    </div>
    <div class="block">
      <div class="block-top">
        <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
      </div>
      <div class="block-content">
        <!-- Content for Block 2 -->
      </div>
    </div>
    <div class="block">
      <div class="block-top">
        <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
      </div>
      <div class="block-content">
        <!-- Content for Block 3 -->
      </div>
    </div>
  </div>
</div>

<div style="margin-left:200px;margin-right:200px;margin-top:-350px;">
    <div class="block-container">
        <div class="block">
          <div class="block-top">
            <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
          </div>
          <div class="block-content">
            <!-- Content for Block 1 -->
          </div>
        </div>
        <div class="block">
          <div class="block-top">
            <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
          </div>
          <div class="block-content">
            <!-- Content for Block 2 -->
          </div>
        </div>
        <div class="block">
          <div class="block-top">
            <p style="color: white; margin-left: 20px;margin-top: 4px;">1 BHK |<img src="../assets/images/img11.png" alt="img"> </p>
          </div>
          <div class="block-content">
            <!-- Content for Block 3 -->
          </div>
        </div>
      </div>
    </div>  



    <div>
        <div style="text-align:center;margin-top:-320px;">
            <p style="color: #303033; Font-family: Chronicle Display;
            Font-style: Roman;
            Font-size: 55.23px;
            Line-height: 68px;
            Line-height: 104%;
            align-items:Center;
            margin-bottom: 10px;">Floor Plans</p>
            </div>

            <div style="justify-content: center; text-align: center; align-items: center;">
                <div class="wrapper">
                   <i id="left" class="fa-solid fa-angle-left"></i>
                   <div class="carousel">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false" style="">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
                     <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
            
                     
                   </div>
                   <i id="right" class="fa-solid fa-angle-right"></i>
                 </div>
               </div>


    </div>

    




    <app-footer></app-footer>
