
.img{
    width:100%;
    height: 650px;
    margin-top:-10px;
    margin-right: -40px;
}
.image6::after {
    content: "";
    position: absolute;
   margin-top:70px;
   margin-left: -1090px;
    width: 70%;
    height:85%;
    background: linear-gradient(to top, rgba(25, 22, 22, 0.7) 0%, rgba(117, 113, 113, 0) 100%);
    /* background-color: rgb(41, 38, 38); */
    clip-path: ellipse(50% 90% at 50% 140%);
  }
  .img4{
    margin-top: -300px;
    margin-left: 540px;
  }
  .button-container {
    display: flex;
    justify-content:space-between;
    
  }
  
  .buttons,.button1 {
    padding: 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    border-color: black;
    /* width: 700px; */

  }

  .c1{
    margin-left: 200px;
    margin-right: 200px;
  }
  .button1{
    background-color: black;
    color: white;
    border-radius: 24px;

    
  }
  .buttons{
    background-color: white;
    color: black;
    border-radius: 24px;
    border-color: black;
    margin-left: 10px;
    font-size: 14px;
    

  }
  
  .button:hover {
    background-color: #aaa;
  }
  .image-container {
    display: flex;
    justify-content: space-between;
    
  }

  .image-wrapper {
    width: 150px; /* Adjust the width as needed */
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-align:center;
    width:140px;
    Font-family: Poppins;
Font-style: Bold;
Font-size: 14px;

  }

.bullet{
    display: inline-flex;
    margin-left:220px;
    margin-top: 30px;
}  
.bullet-list {
    list-style-type: disc; 
    padding-left: 40px;
    justify-content: space-between;
    
  }

  /* amenities */
    
 /* Import Google font - Poppins */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 
 .wrapper{
   display: flex;
   max-width: 800px;
   position: relative;
   /* vertical-align: top;
   align-items: center;
   justify-content: center;
   text-align: center; */
   margin-left: 290px;
   margin-right: 290px;
 
 
 }
 .wrapper i{
   top: 50%;
   height: 44px;
   width: 44px;
   color: #343F4F;
   cursor: pointer;
   font-size: 1.15rem;
   position: absolute;
   text-align: center;
   line-height: 44px;
   background: #fff;
   border-radius: 50%;
   transform: translateY(-50%);
   transition: transform 0.1s linear;
 }
 .wrapper i:active{
   transform: translateY(-50%) scale(0.9);
 }
 .wrapper i:hover{
   background: #f2f2f2;
 }
 .wrapper i:first-child{
   left: -22px;
   /* display: none; */
 }
 .wrapper i:last-child{
   right: -22px;
 }
 .wrapper .carousel{
   font-size: 0px;
   cursor: pointer;
   overflow: hidden;
   white-space: nowrap;
   scroll-behavior: smooth;
 }
 .carousel.dragging{
   cursor: grab;
   scroll-behavior: auto;
 }
 .carousel.dragging img{
   pointer-events: none;
 }
 .carousel img{
   height: 210px;
   object-fit: cover;
   user-select: none;
   margin-left: 14px;
   width: calc(100% /4);
 }
 .carousel img:first-child{
   margin-left: 10px;
 }
 
 @media screen and (max-width: 900px) {
   .carousel img{
     width: calc(100% / 2);
   }
 }
 
 @media screen and (max-width: 550px) {
   .carousel img{
     width: 100%;
   }
 }
 /* flat details */

 .block-container {
    display: flex;
    justify-content:space-between;
    width: 800px;
    height: 600px;
    
  }
  
  .block {
    flex: 1;
    position: relative;
    justify-content: space-between;
    margin-right: 20px;
    width: 300px;
    height: 30px;
    
  }
  
  .block-top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#303033;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .block-content {
    background-color: wheat;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }


  
 .wrapper2{
  display: flex;
  max-width: 1400px;
  position: relative;
  /* vertical-align: top;
  align-items: center;
  justify-content: center;
  text-align: center; */
  margin-left: 0px;


}
.wrapper2 i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper2 i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper2 i:hover{
  background: #f2f2f2;
}
.wrapper2 i:first-child{
  left: -22px;
  /* display: none; */
}
.wrapper2 i:last-child{
  right: -22px;
}

  .wrapper2 .carousel2{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel2.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel2.dragging img{
    pointer-events: none;
  }
  .carousel2 img{
    height: 210px;
    object-fit: cover;
    user-select: none;
    margin-left: 18px;
    width: calc(100% /3);
  }
  .carousel2 img:first-child{
    margin-left: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .carousel2 img{
      width: calc(100% /2);
    }
  }

  .abc:hover img {
    transform: scale(1.2);
  }
  /* .carousel2:hover img {
    transform: scale(1.2);
  } */

  .a5{
    width: 420px;
    height: 250px;
    margin-left: 100px;
  }


/*   
.slide{
  height: 150px;
  width: 200px;
  display: grid;
  place-items: center;
  padding: 15px;
  perspective: 100px;
}

img{
  height: 100%;
  width:100%;
  transition: transform 1s;
}
.image-slider{
  display: grid;
  place-items: center;

  position: relative;

  overflow: hidden;
  height: 250px;  
  width: 100%;
}
.image-slider-track{
  display: flex;
  width:calc(200px*12);
  animation: play 40s linear infinite;
}

@keyframes play{
  0%{
      transform: translateX(0);
  }

  100%{
      transform: translateX(calc(-250px*6));
  }
}

.image-slider::before,
.image-slider::after{
  background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  width: 15%;
  z-index: 2;
  position: absolute;

  }

  .image-slider::before{
      left:0;
      top:0;
  }

  .image-slider::after{
      right:0;
      top:0;
      background: linear-gradient(to left,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);

  }

  img:hover{
      transform: translateZ(20px);
  }

  

  */
