<app-navbar></app-navbar>
  
    <div>
    <div class="ic">
    <img style="width:100%; height:620px; " src="../assets/images/img2.jpeg" alt="Your Image">
    </div>
    <div class="translucent-strip"> <div style="text-align: center;"><P style="color:#FFEB96;Font-family: Chronicle Display;
      Font-style: Roman;
      Font-size: 60.71px;
      Line-height: 63px;
      Line-height: 104%;
      margin-top: 25px;"> Our Gallery</P> </div></div>
  </div>




 <div style="text-align: center;margin-top: 20px;">
    <p style="color: #303033;Font-family: Chronicle Display;
    Font-style: Roman;
    Font-size: 62.26px;
    Line-height: 75px;
    Line-height: 104%;
    Vertical-align: Top"> Golf Link Gallery</p>
    <div style="margin-bottom: 30px;">
    <button style=" background-color: black; color: white;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;margin-right: 5px;">Artistic image</button>
    <button style="background-color:white; color:black;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;">Actual image</button>
</div>
</div>


<div style="justify-content: center; text-align: center; align-items: center;">
 <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
</div>
  


<div style="text-align: center;margin-top: 20px;">
  <p style="color: #303033;Font-family: Chronicle Display;
  Font-style: Roman;
  Font-size: 62.26px;
  Line-height: 75px;
  Line-height: 104%;
  Vertical-align: Top"> Antriksh Height Gallery</p>
  <div style="margin-bottom: 30px;">
  <button style=" background-color: black; color: white;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;margin-right: 5px;">Artistic image</button>
  <button style="background-color:white; color:black;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;border-radius: 25px;">Actual image</button>
</div>
</div>


<div style="justify-content: center; text-align: center; align-items: center;">
<div class="wrapper">
  <i id="left" class="fa-solid fa-angle-left"></i>
  <div class="carousel">
    <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img2.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
      <img src="../assets/images/img5.jpeg" alt="img" draggable="false">
    
  </div>
  <i id="right" class="fa-solid fa-angle-right"></i>
</div>
</div>

<app-contact></app-contact>
<app-footer></app-footer>
