
.ic{width: 100%;
height: auto;}

.ic{
  width:100%;
  overflow:hidden;}

  .translucent-strip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the width as needed */
    height: 120px; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Translucent black color */
  }
  



.carousel-container {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
    width: 100%;
  }
  
  /* Optional: Add styling to the slides */
  .slide {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
  }
  /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display: flex;
  height: 200px;
  position: relative;
  /* vertical-align: top;
  align-items: center;
  justify-content: center;
  text-align: center; */
  margin-left: 50px;
  margin-right: 50px;


}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  /* display: none; */
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}
  
